node_modules/
.DS_Store
#public/assets/scripts/bundle.js
#public/assets/styles/main.css
yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

src
.babelrc
.yarnrc.yml
package.json
package-lock.json
prettier.config.js
webpack.config.js
*.lock
.gitattributes
.eslintrc.js
.husky/pre-commit
