/*!*****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \*****************************************************************************************************************************************************************************************************************/
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 340px;
}
.timer button {
  color: #000;
  background: #fff;
  min-width: 50px;
  min-height: 50px;
  font-size: 25px;
  border-radius: 3px;
}
.timer button:hover {
  background: #70d06c;
  cursor: pointer;
}
.timer .wrap {
  margin-bottom: 30px;
}
.timer .wrap input {
  text-align: center;
  font-weight: bold;
  border: none;
  font-size: 25px;
  margin: 0 60px;
}
.timer .wrap input:focus-visible {
  outline: none;
}
.timer .start {
  color: #fff;
  background: #359203;
  min-width: 50px;
  min-height: 50px;
  font-size: 25px;
  border-radius: 3px;
  padding: 0 50px;
}
.timer .start::first-letter {
  text-transform: uppercase;
}
.timer .display {
  font-size: 10em;
  position: absolute;
}
.timer .inscription {
  padding-bottom: 50px;
}
.timer .hidden {
  visibility: hidden;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #3b3b3b;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 6px;
  padding: 0;
}

h1 {
  padding-top: 50px;
  text-align: center;
}
